<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://www.communitygarden.com.br:3306/garden_cc?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">garden_cc_user</property>
    <property name="hibernate.connection.password">cc_user</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="Model.Curso"/>
    <mapping class="Model.EAD"/>
    <mapping class="Model.Materia"/>
    <mapping class="Model.Presencial"/>
  </session-factory>
</hibernate-configuration>
